!workspace/src/

workspace/build/
workspace/devel/
workspace/logs/

workspace/.catkin_tools


__pycache__/
*.py[cod]
*.pyc

workspace/src/rasa_ros/rasa-project/duckling
workspace/src/rasa_ros/rasa-project/.rasa