!workspace/src/

workspace/build/
workspace/devel/
workspace/logs/

workspace/.catkin_tools
.vscode

__pycache__/
*.py[cod]
*.pyc

workspace/src/rasa_ros/rasa-project/duckling
workspace/src/rasa_ros/rasa-project/.rasa
workspace/src/rasa_ros/scripts/rasa_action_new.sh
workspace/src/rasa_ros/scripts/rasa_server_new.sh
workspace/src/rasa_ros/launch/dialogue_new.xml